{% extends 'hospital/homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
  <p class="lead">Welcome to HealthHub!</p>
  <p class="lead">Here you can apply to be a doctor at our facility and help out various patients in need.</p>
  <hr class="my-4">
  <p>You can access various features after logging in to your account or signing up as a new doctor.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Sign Up</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
