{% extends 'hospital/homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <p class="lead">Welcome to HealthHub!</p>
  <p class="lead">Here you can have access to the various doctors that are part of various different departments and get instant assistance.</p>
  <hr class="my-4">
  <p>You can access various features after logging in or signing up if this is your first time.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register Your Account(One-Time Registration)</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
